.jumbotron{
    background-color: teal;
    color: white;
    margin-top: 50px;
    
}
.breadcrumb{
    background-color: rgb(228, 249, 252);
    margin-top: 10px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: teal;
    margin-bottom: 0px;
    margin-top: 10px;
    color: whitesmoke;
}
a{
    color: black;
}

.card-hotel{
    margin-top: 10px;
    flex: 1 200px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;

}

#carouselControl{
    margin: auto;
    width: 350px;
    
}